* {
    margin: 0;
    padding: 0;
}
body {
    margin-bottom: 25px;
}
header, footer {
    background-color: black;
}
.top-header-text {
    color: white;
    text-shadow: 6px 0px 5px #d8e8f4;
    font-weight: bold;
}
.top-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 32px;
    border-bottom: 5px solid #d8e8f4;
}
.header-logo img {
    max-width: 450px;
}
.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}
.nav-menu a {
    display: block;
    padding: 15px 5px 15px 5px;
    text-decoration: none;
    color: #d8e8f4;
    border-left: 1px solid #d8e8f4;
}
table {
    margin: 50px auto;
}
table ul {
    list-style-type: none;
}
tr:nth-child(even) {
    background-color: #31639f;
    color: white;
}
tr:nth-child(odd) {
    background-color: #d8e8f4;
}
td {
    padding: 15px;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.footer-text {
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 6px 0px 5px #d8e8f4;
}
.main-index {
    margin: 50px 15%;
    padding: 30px;
    background-color: #d8e8f4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.student-photo {
    border-radius: 50%;
}
.main-index-student-info {
    min-width: 33%;
    text-align: center;
}